body::after {
    content: "";
    position: absolute;
    background: #222222;
    clip-path: polygon(0% 70%, 0% 100%, 100% 100%, 100% 30%);
    height: 100%;
    width: 100%;
    z-index: 0;
}

body > * {
    z-index: 10;
    position: relative;
}
