body::after {
    content: "";
    position: absolute;
    background: #222222;
    clip-path: polygon(0% 70%, 0% 100%, 100% 100%, 100% 30%);
    height: 100%;
    width: 100%;
    z-index: 0;
}

body > * {
    z-index: 10;
    position: relative;
}

.flexicharge-logo-title {
  top: 3rem;
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexicharge-logo-title * {
  margin: .5rem;
}
.flexicharge-logo-title:nth-child(2) {
  height: 5rem;
}

.login-form-wrapper {
  z-index: 10;
}

.login-page {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.paper-title {
  color: floralwhite
}

@media screen and (max-width: 768px) {
  .flexicharge-logo-title {
    top: 1.5rem;
  }
}